@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
}

body,
html {
  height: 100%;
}

body {
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-top {
  display: flex;
  justify-content: center;
  padding: 85px 0 35px;
}
.header-top__btn {
  display: none;
}
.header-top__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #000;
}

.header-nav {
  padding: 35px 0 140px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.header-nav__list {
  display: flex;
  justify-content: center;
}
.header-nav__item {
  margin: 0 auto;
  padding-bottom: 9px;
}
.header-nav__item--active {
  border-bottom: 3px solid #000;
}
.header-nav__link {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000;
}

.slider {
  padding: 46px 0 40px;
}

.slider-wrap {
  display: flex;
  justify-content: center;
}
.slider-wrap__item {
  width: 878px;
  height: 1099px;
}
.slider-wrap__item img {
  width: 878px;
  height: 1099px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
.slider-wrap .slick-arrow {
  width: 48px;
  height: 48px;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border: 1px solid #000;
  cursor: pointer;
}
.slider-wrap .slick-arrow.slick-prev {
  left: -83px;
  z-index: 1;
}
.slider-wrap .slick-arrow.slick-next {
  right: -83px;
}

.slick-slider {
  width: 878px;
  margin: 0 auto;
}

.slick-slide {
  width: 878px;
}

.slick-list.draggable {
  padding: 0 !important;
}

.price {
  padding: 20px 0 95px;
}
.price__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #000;
  margin-bottom: 21px;
}
.price__wrap {
  display: flex;
  flex-direction: column;
  row-gap: 104px;
}
.price__row {
  display: flex;
  justify-content: space-around;
}
.price__info {
  padding-top: 44px;
  max-width: 360px;
  width: 100%;
}
.price__info-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 33px;
  color: #000;
}
.price__info-subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #000;
  margin-bottom: 45px;
}
.price__item {
  margin-bottom: 45px;
}
.price__item:last-child {
  margin-bottom: 0px;
}
.price__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #000;
  padding-left: 28px;
  position: relative;
}
.price__text::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
  left: 0;
  top: 11px;
}
.price__info-text {
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #000;
  padding-top: 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 36px;
}
.price__images {
  width: 462px;
  height: 579px;
}
.price__images img {
  width: 462px;
  height: 579px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  padding: 20px 0 163px;
}
.contact__title {
  margin-bottom: 0;
  margin-bottom: 138px;
}
.contact__text, .contact__item-text {
  max-width: 727px;
  margin: 0 auto 87px;
  font-weight: 400;
  font-size: 23px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.34em;
  color: #000;
}
.contact__list {
  max-width: 727px;
  display: block;
  margin: 0 auto;
}
.contact__item-text {
  margin: 0;
}

.about {
  padding: 20px 0 141px;
}
.about__title {
  margin-bottom: 46px;
}
.about__images {
  width: 550px;
  height: 737px;
  margin: 0 auto 82px;
}
.about__images img {
  width: 550px;
  height: 737px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__text {
  max-width: 727px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 23px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000;
}

.portfolio {
  padding: 66px 0 102px;
}
.portfolio__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 59px;
  -moz-column-gap: 114px;
       column-gap: 114px;
  justify-items: center;
}
.portfolio__card {
  width: 269px;
  height: 478px;
  position: relative;
  transition: background-color 0.6s;
}
.portfolio__card img {
  width: 269px;
  height: 478px;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__card .portfolio__card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 5;
}
.portfolio__card::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0);
  transition: background-color 0.6s;
  z-index: 1;
}
.portfolio__card:hover::after {
  background-color: rgba(36, 36, 36, 0.7);
}
.portfolio__card:hover .portfolio__card-text {
  opacity: 1;
  transition: all 0.6s;
}
.portfolio__card-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
}

.footer {
  padding: 40px 0 100px;
}
.footer__subtitle, .footer__link, .footer__address {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-bottom: 50px;
}
.footer__link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 50px;
}
.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.footer__item + .footer__item {
  margin-left: 29px;
}
.footer__address {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .header-top {
    padding: 35px 0;
  }

  .header-nav {
    padding: 35px 0;
  }

  .slider {
    padding: 20px 0;
  }

  .slider-wrap__item {
    width: 700px;
    height: 800px;
  }
  .slider-wrap__item img {
    width: 700px;
    height: 800px;
  }

  .slick-slider {
    width: 700px;
  }

  .slick-slide {
    width: 700px;
  }

  .footer {
    padding: 35px 0;
  }
  .footer__list {
    margin-bottom: 35px;
  }

  .footer__subtitle,
.footer__link,
.footer__address {
    margin-bottom: 15px;
  }
}
@media (max-width: 375px) {
  .header-top {
    padding: 20px 0;
    align-items: center;
  }
  .header-top__btn {
    display: block;
    width: 40px;
    height: 30px;
    position: relative;
    transition-duration: 1s;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
  }
  .header-top__btn span {
    width: 40px;
    height: 5px;
    background-color: #337ab7;
    border-radius: 9px;
    position: absolute;
    transition-duration: 0.25s;
    transition-delay: 0.25s;
    top: 50%;
    transform: translateY(-50%);
  }
  .header-top__btn span::before {
    width: 40px;
    height: 5px;
    background-color: #337ab7;
    border-radius: 9px;
    content: "";
    position: absolute;
    transition-duration: 0.25s;
    transition-delay: 0.25s;
    bottom: 13px;
    left: 0;
  }
  .header-top__btn span::after {
    width: 40px;
    height: 5px;
    background-color: #337ab7;
    border-radius: 9px;
    content: "";
    position: absolute;
    transition-duration: 0.25s;
    transition-delay: 0.25s;
    top: 13px;
    left: 0;
  }
  .header-top__btn.open span {
    transition-duration: 0.1s;
    transition-delay: 0.25s;
    background: transparent;
  }
  .header-top__btn.open span:before {
    transform: rotateZ(-45deg);
    bottom: 0;
    left: -5px;
    width: 42px;
  }
  .header-top__btn.open span:after {
    transition: top 0.4s, transform 0.25s 0.25s;
    top: 0px;
    transform: rotateZ(45deg);
    left: -5px;
    width: 42px;
  }

  .header-nav {
    padding: 20px 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transform: translateX(-100%);
    z-index: 1;
    transition: transform 0.4s;
  }
  .header-nav__list {
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    height: 100vh;
  }
  .header-nav.active {
    transform: translateX(0%);
    transition: transform 0.3s;
  }

  .slider-wrap__item {
    width: 300px;
    height: 400px;
  }
  .slider-wrap__item img {
    width: 300px;
    height: 400px;
  }

  .slick-slider {
    width: 300px;
    margin: 0 auto;
  }

  .slick-slide {
    width: 300px;
  }

  .footer {
    padding: 20px 0;
  }
  .footer__subtitle, .footer__link, .footer__address {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */