@media (max-width: 768px) {
  body {
    background: coral;
  }
  .header-top {
    padding: 35px 0;
  }
  .header-nav {
    padding: 35px 0;
  }
  .slider {
    padding: 20px 0;
  }
  .slider-wrap {
    &__item {
      width: 700px;
      height: 800px;
      img {
        width: 700px;
        height: 800px;
      }
    }
  }
  .slick-slider {
    width: 700px;
  }
  .slick-slide {
    width: 700px;
  }
  .footer {
    padding: 35px 0;
    &__list {
      margin-bottom: 35px;
    }
  }
  .footer__subtitle,
  .footer__link,
  .footer__address {
    margin-bottom: 15px;
  }
  .about {
    padding: 20px 0 50px;
  }
}

@media (max-width: 375px) {
  body {
    background: lightsteelblue;
  }
  .header-top {
    padding: 20px 0;
    align-items: center;
    &__btn {
      display: block;
      width: 40px;
      height: 30px;
      position: relative;
      transition-duration: 1s;
      cursor: pointer;
      overflow: hidden;
      z-index: 2;
    }
    &__btn span {
      width: 40px;
      height: 5px;
      background-color: #337ab7;
      border-radius: 9px;
      position: absolute;
      transition-duration: 0.25s;
      transition-delay: 0.25s;
      top: 50%;
      transform: translateY(-50%);
    }
    &__btn span::before {
      width: 40px;
      height: 5px;
      background-color: #337ab7;
      border-radius: 9px;
      content: "";
      position: absolute;
      transition-duration: 0.25s;
      transition-delay: 0.25s;
      bottom: 13px;
      left: 0;
    }
    &__btn span::after {
      width: 40px;
      height: 5px;
      background-color: #337ab7;
      border-radius: 9px;
      content: "";
      position: absolute;
      transition-duration: 0.25s;
      transition-delay: 0.25s;
      top: 13px;
      left: 0;
    }
    &__btn.open span {
      transition-duration: 0.1s;
      transition-delay: 0.25s;
      background: transparent;
    }
    &__btn.open span:before {
      transform: rotateZ(-45deg);
      bottom: 0;
      left: -5px;
      width: 42px;
    }
    &__btn.open span:after {
      transition: top 0.4s, transform 0.25s 0.25s;
      top: 0px;
      transform: rotateZ(45deg);
      left: -5px;
      width: 42px;
    }
  }
  .header-nav {
    padding: 20px 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transform: translateX(-100%);
    z-index: 1;
    transition: transform 0.4s;
    &__list {
      flex-direction: column;
      row-gap: 20px;
      justify-content: center;
      height: 100vh;
    }
    &.active {
      transform: translateX(0%);
      transition: transform 0.3s;
    }
  }
  .slider-wrap {
    &__item {
      width: 300px;
      height: 400px;
      img {
        width: 300px;
        height: 400px;
      }
    }
  }
  .slick-slider {
    width: 300px;
    margin: 0 auto;
  }
  .slick-slide {
    width: 300px;
  }
  .footer {
    padding: 20px 0;
    &__subtitle,
    &__link,
    &__address {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 20px;
    }
  }
  .about {
    padding: 20px 0 30px;
    &__images {
      width: 350px;
      height: 400px;
      margin: 0 auto 45px;
      img {
        width: 350px;
        height: 400px;
      }
    }
    &__text {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
